bin-links=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
scope=garlictech
init.author.name=Zsolt R. Molnar
init.author.email=zsolt@zsoltmolnar.hu
init.author.url=http://www.zsoltmolnar.hu/
registry=http://registry.npmjs.org/
foo:port=80
@garlictech:registry=http://registry.npmjs.org/
