server
client
.editorconfig
.jshintrc
.travis.yml
.npmignore
.gitattributes
.dockerignore
.env
.yo-rc.json
coffeelint.json
gulpfile.coffee
docker-*
Dockerfile*
dist/test
dist/**/test/*system-tests.js
dist/**/test/*unit-tests.js