<!doctype html>  
<html lang="en" ng-app="<%= conf.angularModuleName %>.TestApp">  
<head>  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="<%= conf.appNameAsIs %> tests">
  <meta name="author" content="contact@<%= conf.scope %>.com">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title ng-bind='pageTitle'><%= conf.appNameAsIs %> tests</title>
  <base href="/">

</head>  
<body>
  <div class="site">
    <div ui-view="header"></div>
    <div ui-view="main" ng-cloak></div>
    <footer <%= conf.appNameFQ %>-footer></footer>
  </div>
</body>  
</html>