<!doctype html>  
<html lang="en" ng-app="<%= appNameCC %>.TestApp">  
<head>  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="<%= appNameCC %> test page">
  <meta name="author" content="contact@garlictech.com">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title><%= appNameCC %> test page</title>
  <base href="/">
</head>  
<body>
  <h1><%= appNameCC %> test page</h1>
</html>