//- Contains template vendor-related blocks (as mixins): vendorHead, vendorFooter
include vendor.jade

doctype html
html
  head
    base(href="/")
    title GarlicTech
    +vendorHead
    //---inject:css---
    //---inject---
  body(ng-app="aApp" id="body" data-spy="scroll" class="demo-lightbox-gallery")
    block content
    //---inject:js---
    //---inject---

    //- For livereload stuff
    script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

    +vendorFooter
