<!doctype html>  
<html lang="en" ng-app="GarlicTech.Localize.TestApp">  
<head>  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="gt-complib web site">
  <meta name="author" content="contact@garlictech.com">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>GarlicTech.Localize test page</title>
  <base href="/">
</head>  
<body>
  <h1>GarlicTech.Localize test page</h1>
  <h2>Basic translation</h2>
  <h3>Select language, and check translation</h3>
  <localize-language-selector></localize-language-selector>
  <p id='translation'>Translation of 'English': {{'english' | translate}}</p>
</html>