<!doctype html>  
<html lang="en" ng-app="<%= appName %>">  
<head>  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="description" content="<%= appName %> web site">
  <meta name="author" content="contact@garlictech.com">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title ng-bind='pageTitle'><%= appName %></title>
  <base href="/">

  <style>
    div[ng-cloak].splash {
      display: block !important;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: white;
      color: #888;
      font-size: 3em;
      text-align: center;
      font-weight: 200;
    }

    div[ng-cloak].splash img { 
      width: 90%;
      margin: auto;
      padding-top: 20vh;
    }

    .splash {
      display: none;
    }
  </style>

</head>  
<body>
  <div class='splash' ng-cloak>
    <div class='loading'>Loading...</div>
  </div>
  <div ui-view="header"></div>
  <div ui-view="main" ng-cloak></div>
  <footer <%= appName %>-footer></footer>
  <script src="http://localhost:8081/webpack-dev-server.js"></script>
</body>  
</html>